<div class="row">
  <div class="col-xs-12">
    <img src="https://cdn.pixabay.com/photo/2018/10/24/00/43/herb-3769381_960_720.jpg" class="img-fluid" alt="">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" role="group">
      <button id="dropdownId" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownId">
        <a class="dropdown-item" href="#">To Shopping List</a>
        <a class="dropdown-item" href="#">Edit</a>
        <a class="dropdown-item" href="#">Delete</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      Recipe Description
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        Recipe Ingredients
      </div>
    </div>