<div class="row debug-layout">
  <div class="col-sm text-center p-3">
    <img class="img-fluid mx-auto" alt="" style="max-width: 500px; max-height: 300px;" src="{{ recipe.imagePath }}">
  </div>
</div>
<div class="row debug-layout">
  <div class="col">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row debug-layout">
  <div class="col debug-layout">
    <div class="btn-group" appBootstrap4Dropdown>
        <button id="dropdownId" type="button" class="btn btn-primary dropdown-toggle">
          Manage Recipe
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">To Shopping List</a>
          <a class="dropdown-item" href="#">Edit</a>
          <a class="dropdown-item" href="#">Delete</a>
        </div>
      </div>
  </div>
</div>
<div class="row debug-layout">
  <div class="col">
    {{ recipe.description }}
  </div>
</div>
<div class="row debug-layout">
  <div class="col">
    Recipe Ingredients
  </div>
</div>
