<div id="recipe-list">
  <div class="row">
    <div class="col-xs-12 mb-3">
      <a name="btnNewRecipe" id="btnNewRecipe" class="btn btn-success" href="#" role="button">New Recipe</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <ul class="list-group">
        <li *ngFor="let recipeItem of recipes" href="#" class="list-group-item list-group-item-action">
          <app-recipe-item [recipe]="recipeItem"></app-recipe-item>
        </li>
      </ul>
      <!--<app-recipe-item></app-recipe-item>-->
    </div>
  </div>
</div>
