<div id="recipe-list">
  <div class="row">
    <div class="col-xs-12 mb-3">
      <a name="btnNewRecipe" id="btnNewRecipe" class="btn btn-success" href="#" role="button">New Recipe</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <ul class="list-group">
        <li *ngFor="let recipe of recipes" href="#" class="list-group-item list-group-item-action">
          <div class="d-flex justify-content-between">
            <div>
              <h5 class="mb-1">{{recipe.name}}</h5>
              <p class="mb-1">{{recipe.description}}</p>
            </div>
            <img class="img-fluid" [src]="recipe.imagePath" style="max-height: 50px;">
          </div>
        </li>
      </ul>
      <!--<app-recipe-item></app-recipe-item>-->
    </div>
  </div>
</div>
